.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .product-info {
    padding: 20px;
  }
  
  .product-info h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ff4800;
    margin-bottom: 15px;
  }
  
  .add-to-cart {
    background-color: #ff4800;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart:hover {
    background-color:#ff4800;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Hack, monospace;
    margin: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5%;
  }
  
  header img {
    top: 3.5%;
    left: 2%;
    width: 16%;
    height: auto;
  }
  
  nav .menuItems {
    list-style: none;
    display: flex;
  }
  
  nav .menuItems li {
    margin: 0 1em;
  }
  
  nav .menuItems li a {
    text-decoration: none;
    color: #00000085;
    font-size: 125%;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;
  }
  
  nav .menuItems li a::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #000000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
  }
  
  nav .menuItems li a:hover::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.2%;
    flex-grow: 1;
  }
  
  h1 {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    transition: color 0.3s ease;
    margin-bottom: 0%;
  }
  
  h1:hover {
    color: #ff4800;
  }
  
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 125%;
    font-weight: 120;
    text-align: center;
    margin-bottom: 3%;
  }
  